<!DOCTYPE html>
<head>
   <meta charset="UTF-8">
   <title>Title</title>
</head>
<body>
 
   <div width="100%" height="100%" id="mapmap"></div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">

    const placemarks = [
        {
            //latitude:55.75,
            //longitude:37.63,
            hintContent:<div class="">Вы можете оставить свой отзыв</div> ,
            balloonContent:[
            `
            <h1> Отзыв </h1>,
                <form>
                      <input type="text" name="name" placeholder="укажите ваше имя">
                      <input type="text" name="name" placeholder="укажите ваше место">
                      <textarea>Оставьте отзыв</textarea>
                      <button id="sendButton"> Добавить отзыв </button>
               </form>
            `
                          ] 
        }
    ];   
    geoObjects = [];

    function init() {
        var map = new ymaps.Map("mapmap", {
    
        center: [55.74, 37.68],
        zoom: 11, 
    });

    for (var i = 0; i < placemarks.length; i++) {
            geoObjects[i] = new ymaps.Placemark([placemarks[i].latitude, placemarks[i].longitude],
            {
                hintContent: placemarks[i].hintContent,
                balloonContent: placemarks[i].balloonContent.join('')
            },     
        {
            iconLayout: 'default#image',
            iconImageHref: 'img/sprite.png',
            iconImageSize: [46, 57],
            iconImageOffset: [-23, -57],
            iconImageClipRect: [[415, 0], [461, 57]]

        });
};
    var clusterer = new ymaps.Clusterer({
        clusterIcons: [
            {
                href: 'img/burger.png',
                size: [100, 100],
                offset: [-50, -50]
            }
        ],
        clusterIconContentLayout: null
    });
    myMap.geoObjects.add(clusterer);
    clusterer.add(geoObjects);
    }
    

    function init() {
        var map = new ymaps.Map("mapmap", {
    
        center: [55.74, 37.68],
        zoom: 11, 
    })};
map.events.add('click', function (e) {
    let newBalloon = map.balloon.open([e.get('coords'),e.get('coords')],
{content:placemarks.balloonContent.join('')}
);

   let newPoint = new ymaps.Placemark([e.get('coords'), e.get('coords')],
            {
                hintContent: placemarks.hintContent,
                balloonContent: placemarks.balloonContent.join('')
            },     
        {
            iconLayout: 'default#image',
            iconImageHref: 'img/sprite.png',
            iconImageSize: [46, 57],
            iconImageOffset: [-23, -57],
            iconImageClipRect: [[415, 0], [461, 57]]

        });

        var myClusterer = new ymaps.Clusterer();
        myClusterer.add(newPoint);
        map.geoObjects.add(myClusterer);
   });

     ymaps.ready(init); 

        </script>
  
</body>
</html>



/* API предоставляет удобный механизм, позволяющий генерировать макеты на основе шаблонов.

Шаблон представляет собой HTML-код, в который могут быть включены подстановки. Для создания макетов с
 помощью языка шаблонов предназначена фабрика макетов — статический объект templateLayoutFactory. 
 Этот объект имеет единственный метод createClass, в который передается код шаблона.

var MyBalloonContentLayoutClass = ymaps.templateLayoutFactory.createClass(
    '<div class="my-layout"><h3>Макет</h3><p>Создан на основе шаблона.</p></div>' 
);
Часто возникает необходимость использовать данные объекта в связанном с ним макете. Например, 
вывести название метки в ее балуне.

Шаблоны имеют доступ к некоторым полям родительского объекта. В большинстве случаев доступны
 значения полей data (либо properties), options и state. Значения этих полей могут быть использованы
  в т. н. подстановках. Типы возможных подстановок описаны в спецификации объекта templateLayoutFactory.

Примечание. В API поддерживается базовый синтаксис языков шаблонов Twig/Django Templates.
var myPlacemark = new ymaps.Placemark(
    [55.8, 37.6],
    {
        name: 'Москва',
        description: 'Столица. Много людей.',
        metro: true
    },
    {balloonContentLayout: MyBalloonContentLayoutClass}
);
var MyBalloonContentLayoutClass = ymaps.templateLayoutFactory.createClass(
    '<h3>{{ properties.name }}</h3>' +
    '<p>Описание: {{ properties.description }}</p>' +
    '<p>Население: {{ properties.population|default:"неизвестно" }}</p>' +
    '<p>Метрополитен: {% if properties.metro %}да{% else %}нет{% endif %}</p>'
);
Макеты можно размещать в специальном хранилище layout.storage и в дальнейшем извлекать их оттуда 
по ключу.

var myBalloonContentLayoutClass = ymaps.templateLayoutFactory.createClass(...);
ymaps.layout.storage.add('my#simplestBCLayout', MyBalloonContentLayoutClass);
var myPlacemark = new ymaps.Placemark(
    ...
    {balloonContentLayout:  'my#simplestBCLayout'}
);
Шаблоны могут включать в себя определенные ранее макеты. В приведенных примерах переопределяется
 макет содержимого балуна, который изначально включает в себя три макета: для заголовка, тела
  и нижнего колонтитула.

Для включения в шаблон макета используются подстановки вида {% include 'ключ макета в хранилище' %} 
и {% include options.optionName %}.

var MyBalloonContentLayoutClass = ymaps.templateLayoutFactory.createClass(
    '{% include options.balloonContentLayout %}<p>...</p>{% include 'my#simplestBCLayout' %}' 
); */


myMap.geoObjects.add(myGeoObject) — добавление объекта на карту,
myMap.geoObjects.remove(myGeoObject) — удаление объекта с карты.

Также у карты есть две отдельные сущности — балун и хинт, которые не принадлежат глобальным коллекциям.
 На одну карту может быть добавлен только один балун и только один хинт.

 Балун и хинт отображаются в точке с заданными координатами, а их содержимое может содержать HTML-разметку.
  Ссылки на экземпляры классов балуна и хинта карты содержатся в полях balloon и hint объекта карты.

 myMap.balloon.open(myMap.getCenter(), {
     contentHeader: 'Однажды',
     contentBody: 'В студеную зимнюю пору' +
     ' <span style="color:red; font-weight:bold">Я</span>' +
     ' из лесу <b>вышел</b>',
 });
 
 myMap.hint.open([55.76, 37.38], 'Кто <em>поднимается</em> в гору?');
 Доступ к балуну и хинту карты имеют геообъекты и активные области. То есть балун/хинт может быть открыт
  над геообъектом или активной областью без непосредственного указания координат балуна/хинта.
 
 var myPlacemark = new ymaps.Placemark([55.7, 37.6], {
     balloonContentHeader: 'Однажды',
     balloonContentBody: 'В студеную зимнюю пору',
     balloonContentFooter: 'Мы пошли в гору',
     hintContent: 'Зимние происшествия'
 });
 
 myMap.geoObjects.add(myPlacemark);
 
 // Балун откроется в точке «привязки» балуна — т. е. над меткой.
 myPlacemark.balloon.open();
 Если в момент открытия балуна на карте уже есть открытый балун, то старый балун закрывается, и открывается
  новый. То же самое относится и к хинту.


 озможна ситуация, что балун выходит за границы карты. В таком случае балуну нужно задать дополнительно
  опцию balloonPane:
Иллюстрация примера	Пример
	
var myPlacemark = new ymaps.Placemark([55.76, 37.64], {
    balloonContent: 'Я вышел за границы карты'
}, {
    balloonPane: 'outerBalloon'
});
 balloonclose	
Закрытие балуна. Экземпляр класса Event.

balloonopen	
Открытие балуна на карте. Экземпляр класса Event.
click	
Однократное нажатие левой кнопки мыши на объекте. При использовании следует иметь в виду, что при сенсорном
 вводе события мыши будут эмулироваться. Экземпляр класса MapEvent. Более детальное описание доступно в 
 domEvent.manager.

Унаследовано от IDomEventEmitter.


hintclose	
Закрытие хинта. Экземпляр класса Event.

hintopen	
Открытие хинта на карте. Экземпляр класса Event.


mousedown	
Нажатие кнопки мыши над объектом. При использовании следует иметь в виду, что при сенсорном вводе события
 мыши будут эмулироваться. Экземпляр класса MapEvent. Более детальное описание доступно в domEvent.manager.

Унаследовано от IDomEventEmitter.

mouseenter	
Наведение курсора на объект. При использовании следует иметь в виду, что при сенсорном вводе события мыши 
будут эмулироваться. Экземпляр класса MapEvent. Более детальное описание доступно в domEvent.manager.

Унаследовано от IDomEventEmitter.

mouseleave	
Вывод курсора за пределы объекта. При использовании следует иметь в виду, что при сенсорном вводе события
 мыши будут эмулироваться. Экземпляр класса MapEvent. Более детальное описание доступно в domEvent.manager.

Унаследовано от IDomEventEmitter.

mousemove	
Перемещение курсора над объектом. При использовании следует иметь в виду, что при сенсорном вводе события
 мыши будут эмулироваться. Экземпляр класса MapEvent. Более детальное описание доступно в domEvent.manager.

Унаследовано от IDomEventEmitter.

mouseup	
Отпускание кнопки мыши над объектом. При использовании следует иметь в виду, что при сенсорном вводе события
 мыши будут эмулироваться. Экземпляр класса MapEvent. Более детальное описание доступно в domEvent.manager.

Унаследовано от IDomEventEmitter.






events
{event.Manager} events
Менеджер событий карты. Поддерживает подписку с приоритетами. Бросает события типа MapEvent.

Примеры:

1.

// Поставим метку по клику над картой.
map.events.add('click', function (e) {
    // Географические координаты точки клика можно узнать
    // посредством вызова метода .get('coords').
    var position = e.get('coords');
    map.geoObjects.add(new ymaps.Placemark(position));
});
2.

// Будем отслеживать центр и зум карты при плавных перемещениях.
map.events.add('actiontick', function () {
    var state = map.action.getCurrentState();
    console.log(state.zoom, state.globalPixelCenter);
});









ymaps.ready(init);

function init () {
    var myMap = new ymaps.Map("map", {
            center: [54.83, 37.11],
            zoom: 5
        }, {
            searchControlProvider: 'yandex#search'
        }),
        myPlacemark = new ymaps.Placemark([55.907228, 31.260503], {
            // Чтобы балун и хинт открывались на метке, необходимо задать ей определенные свойства.
            balloonContentHeader: "Балун метки",
            balloonContentBody: "Содержимое <em>балуна</em> метки",
            balloonContentFooter: "Подвал",
            hintContent: "Хинт метки"
        });

    myMap.geoObjects.add(myPlacemark);

    // Открываем балун на карте (без привязки к геообъекту).
    myMap.balloon.open([51.85, 38.37], "Содержимое балуна", {
        // Опция: не показываем кнопку закрытия.
        closeButton: false
    });

    // Показываем хинт на карте (без привязки к геообъекту).
    myMap.hint.open(myMap.getCenter(), "Одинокий хинт без метки", {
        // Опция: задержка перед открытием.
        openTimeout: 1500
    });
}




var myPlacemark = new ymaps.Placemark([55.754952, 37.615319], {}, {
    draggable: true, // Метку можно перемещать.
    preset: 'islands#whiteStretchyIcon'
});
myPlacemark.events.add('dragend', function(e) {
   // Получение ссылки на объект, который был передвинут.
   var thisPlacemark = e.get('target');
   // Определение координат метки
   var coords = thisPlacemark.geometry.getCoordinates();
   // и вывод их при щелчке на метке
   thisPlacemark.properties.set('balloonContent', coords);
});
Если геообъект был инициализирован без указания геометрии, то он не будет отображаться на карте. 
Присвоить тип геометрии такому геообъекту также будет невозможно.




Задание стиля метки
API предоставляет возможность выбрать стиль для значка метки из набора встроенных стилей. С помощью 
стилей задается цвет значка метки, а также его тип (например, значок без содержимого или значок,
 растягивающийся под контент).

Каждому стилю из набора ставится в соответствие уникальный ключ. Для того чтобы установить нужный стиль, 
следует указать в качестве значения опции preset соответствующий ключ:

	
var myPlacemark = new ymaps.Placemark([55.8, 37.6], {}, {
    preset: 'islands#redIcon'
});
Примечание. Стилем по умолчанию является 'islands#blueIcon'.




Задание собственного изображения для метки
В качестве иконки метки можно установить собственное изображение. Для этого необходимо задать следующие 
опции:

iconLayout — значение 'default#image' или 'default#imageWithContent' для меток соответственно без текста
 и с текстом поверх картинки;
iconImageHref — URL графического файла значка;
iconImageSize — размер значка в пикселах;
iconImageOffset — сдвиг значка в пикселах относительно точки привязки (задается, если "ножка" значка не
 находится в левом верхнем углу изображения;
iconContentOffset — для меток с текстом сдвиг текста относительно точки привязки метки.
	
var myPlacemark = new ymaps.Placemark([55.76, 37.56], {}, {
    iconLayout: 'default#image',
    iconImageHref: '/maps/d../../jsapi/doc/2.1/examples/images/myIcon.gif',
    iconImageSize: [30, 42],
    iconImageOffset: [-3, -42]
});




Использование CSS-спрайтов
Если на карту необходимо добавить большое число меток с разными пользовательскими значками, то 
целесообразно использовать технологию CSS спрайтов. Суть технологии заключается в том, что все изображения
 объединяются в одном графическом файле — спрайте. Посредством CSS нужное изображение извлекается из спрайта 
 и устанавливается в качестве значка определенной метки.

Для того чтобы установить нужное изображение в качестве значка метки, необходимо данной метке задать 
следующие опции:

iconLayout — макет иконки. Для опции должно быть установлено значение 'default#image';
iconImageCliptRect — позиция нужного изображения в спрайте. Определяется пиксельными координатами левого 
верхнего и правого нижнего углов прямоугольника, в котором размещается изображение;
iconImageHref — URL спрайта;
iconImageSize — размер значка в пикселах;
iconImageOffset — сдвиг значка в пикселах относительно точки привязки (задается, если "ножка" значка не 
находится в левом верхнем углу изображения).


var myPlacemark1 = new ymaps.Placemark([55.85, 60.64], {}, {
    iconLayout: 'default#image',
    iconImageClipRect: [[0,0], [26, 46]],
    iconImageHref: 'images/sprite.png',
    iconImageSize: [15, 27],
    iconImageOffset: [-15, -27]
});

var myPlacemark2 = new ymaps.Placemark([55.85, 32.64], {}, {
    iconLayout: 'default#image',
    iconImageClipRect: [[34,0], [62, 46]],
    iconImageHref: 'images/sprite.png',
    iconImageSize: [26, 46],
    iconImageOffset: [-26, -46]
});

var myPlacemark3 = new ymaps.Placemark([55.85, 1.0], {}, {
    iconLayout: 'default#image',
    iconImageClipRect: [[69,0], [97, 46]],
    iconImageHref: 'images/sprite.png',
    iconImageSize: [35, 63],
    iconImageOffset: [-35, -63]
});

Использование технологии спрайтов позволяет сократить число HTTP-запросов к серверу, так как вместо 
большого числа изображений загружается только одно.

ymaps.ready(init);

function init () {
    var myMap = new ymaps.Map('map', {
            center: [55.95, 32.44],
            zoom: 2
        }),

        myPlacemark1 = new ymaps.Placemark([55.85, 60.64], {
            balloonContent: 'Маленькая иконка'
        }, {
            iconLayout: 'default#image',
            iconImageClipRect: [[0,0], [26, 47]],
            iconImageHref: 'images/sprite.png',
            iconImageSize: [15, 27],
            iconImageOffset: [-15, -27],
        }),

        myPlacemark2 = new ymaps.Placemark([55.85, 32.64], {
            balloonContent: 'Средняя иконка'
        }, {
            iconLayout: 'default#image',
            iconImageClipRect: [[34,0], [62, 46]],
            iconImageHref: 'images/sprite.png',
            iconImageSize: [26, 46],
            iconImageOffset: [-26, -46]
        }),

        myPlacemark3 = new ymaps.Placemark([55.85, 1.0], {
            balloonContent: 'Большая иконка'
        }, {
            iconLayout: 'default#image',
            iconImageClipRect: [[69,0], [97, 46]],
            iconImageHref: 'images/sprite.png',
            iconImageSize: [35, 63],
            iconImageOffset: [-35, -63]
        });

    myMap.geoObjects.add(myPlacemark1)
        .add(myPlacemark2)
        .add(myPlacemark3);
}








Коллекции геообъектов
Геообъекты могут объединяться в коллекции, которые позволяют определять свойства сразу всех своих членов 
и проводить групповые операции над ними.

Геообъект может принадлежать только одной коллекции. При добавлении геообъекта, принадлежащего одной 
коллекции, в другую коллекцию, он будет удален из первой.

	
var coords = [
    [55.75, 37.50],
    [55.75, 37.71],
    [55.70, 37.70]
];
var myCollection = new ymaps.GeoObjectCollection({}, {
    preset: 'islands#redIcon', //все метки красные
    draggable: true // и их можно перемещать
});

for (var i = 0; i < coords.length; i++) {
    myCollection.add(new ymaps.Placemark(coords[i]));
}

myMap.geoObjects.add(myCollection);

// При клике на карту все метки будут удалены.
myCollection.getMap().events.add('click', function() {
    myCollection.removeAll();
});






Кластеры
Точечные геообъекты могут находиться настолько близко друг другу, что на каком-то масштабе их
 метки начинают накладываться друг на друга. В этом случае пользователю приходится тщательно
  «прицеливаться», чтобы попасть курсором мыши на видимый фрагмент нужной метки. Существует даже 
  специальный термин, описывающий эффекты такого рода — pixel hunting (пиксель-хантинг).

	
var coords = [
    [56.023, 36.988],
    [56.025, 36.981],
    [56.020, 36.981],
    [56.021, 36.983],
    [56.027, 36.987]
];

var myCollection = new ymaps.GeoObjectCollection();

for (var i = 0; i<coords.length; i++) {
    myCollection.add(new ymaps.Placemark(coords[i]));
}

myMap.geoObjects.add(myCollection);
Если метки находятся в одной точке и размеры их иконок совпадают, то наведение на перекрытые метки 
невозможно в принципе.

Стандартным способом решения проблемы является объединение близко расположенных объектов в группу
 (кластер) и использование для группы специальной кластерной иконки. Часто на иконке кластера указывается
  число содержащихся в нем элементов.

Для кластеризации объектов в API Яндекс.Карт используется класс Clusterer.

	
var myGeoObjects = [];

for (var i = 0; i<coords.length; i++) {
  myGeoObjects[i] = new ymaps.GeoObject({
    geometry: {
      type: "Point",
      coordinates: coords[i]
    }
  });
}

var myClusterer = new ymaps.Clusterer();
myClusterer.add(myGeoObjects);
myMap.geoObjects.add(myClusterer);
При увеличении масштаба кластер визуально распадается на отдельные метки и/или другие кластеры.



При щелчке на иконке кластера может произойти либо увеличение коэффициента масштабирования либо открытие 
балуна, в котором будет отображен список геообъектов кластера. Это поведение контролируется с помощью 
опции clusterDisableClickZoom (true/false).

var myGeoObjects = [];

for (var i = 0; i < coords.length; i++) {
  myGeoObjects[i] = new ymaps.GeoObject({
    geometry: {
      type: "Point",
      coordinates: coords[i]
    },
    properties: {
      clusterCaption: 'Геообъект № '+(i+1),
      balloonContentBody: 'Текст балуна № '+(i+1)
    }
  });
}

var myClusterer = new ymaps.Clusterer(
  {clusterDisableClickZoom: true}
);
myClusterer.add(myGeoObjects);
myMap.geoObjects.add(myClusterer);


Примечание. Если при отображении кластера коэффициент масштабирования карты является максимальным, 
то кластер не будет распадаться на отдельные метки при щелчке на его маркере. В этом случае независимо 
от значения параметра clusterDisableClickZoom всегда будет открываться балун.
Таким образом, отобразить информацию о близко расположенных геообъектах можно даже в том случае, если их
 метки накладываются друг на друга при максимальном коэффициенте масштабирования.

Использование кластеризатора позволяет значительно увеличить производительность при отображении большого 
количества геообъектов в браузере.

Отрисовка и обработка геообъекта — дорогостоящая с точки зрения потребления ресурсов операция, и чем
 больше объектов кластеризуется, тем больше ресурсов экономится. Сильное снижение производительности 
 наблюдается уже при отображении нескольких сотен объектов без кластеризации.





 API предоставляет удобный механизм, позволяющий генерировать макеты на основе шаблонов.

Шаблон представляет собой HTML-код, в который могут быть включены подстановки. Для создания макетов с
 помощью языка шаблонов предназначена фабрика макетов — статический объект templateLayoutFactory. 
 Этот объект имеет единственный метод createClass, в который передается код шаблона.

var MyBalloonContentLayoutClass = ymaps.templateLayoutFactory.createClass(
    '<div class="my-layout"><h3>Макет</h3><p>Создан на основе шаблона.</p></div>' 
);
Часто возникает необходимость использовать данные объекта в связанном с ним макете. Например, 
вывести название метки в ее балуне.

Шаблоны имеют доступ к некоторым полям родительского объекта. В большинстве случаев доступны
 значения полей data (либо properties), options и state. Значения этих полей могут быть использованы
  в т. н. подстановках. Типы возможных подстановок описаны в спецификации объекта templateLayoutFactory.

Примечание. В API поддерживается базовый синтаксис языков шаблонов Twig/Django Templates.
var myPlacemark = new ymaps.Placemark(
    [55.8, 37.6],
    {
        name: 'Москва',
        description: 'Столица. Много людей.',
        metro: true
    },
    {balloonContentLayout: MyBalloonContentLayoutClass}
);
var MyBalloonContentLayoutClass = ymaps.templateLayoutFactory.createClass(
    '<h3>{{ properties.name }}</h3>' +
    '<p>Описание: {{ properties.description }}</p>' +
    '<p>Население: {{ properties.population|default:"неизвестно" }}</p>' +
    '<p>Метрополитен: {% if properties.metro %}да{% else %}нет{% endif %}</p>'
);
Макеты можно размещать в специальном хранилище layout.storage и в дальнейшем извлекать их оттуда 
по ключу.

var myBalloonContentLayoutClass = ymaps.templateLayoutFactory.createClass(...);
ymaps.layout.storage.add('my#simplestBCLayout', MyBalloonContentLayoutClass);
var myPlacemark = new ymaps.Placemark(
    ...
    {balloonContentLayout:  'my#simplestBCLayout'}
);
Шаблоны могут включать в себя определенные ранее макеты. В приведенных примерах переопределяется
 макет содержимого балуна, который изначально включает в себя три макета: для заголовка, тела
  и нижнего колонтитула.

Для включения в шаблон макета используются подстановки вида {% include 'ключ макета в хранилище' %} 
и {% include options.optionName %}.

var MyBalloonContentLayoutClass = ymaps.templateLayoutFactory.createClass(
    '{% include options.balloonContentLayout %}<p>...</p>{% include 'my#simplestBCLayout' %}' 
);





События
В API Яндекс.Карт реализован собственный механизм работы с событиями, расширяющий стандартные средства 
управления событиями JavaScript. Это означает, что для работы с событиями браузера, окна браузера и
 DOM-дерева применимы стандартные подходы, использующиеся в JavaScript, для работы с объектами API — 
 событийная модель API Яндекс.Карт.

В API реализована традиционная модель работы с событиями. Некоторые объекты могут генерировать события,
 на которые можно подписываться и передавать в функцию-обработчик.

Все объекты API, которые могут генерировать события, реализуют интерфейс IEventEmitter и имеют поле events.
 Это поле содержит ссылку на менеджер событий, с помощью которого можно подписаться на нужные события
  или удалить подписку.

myPlacemark.events.add('click', function () {
    alert('О, событие!');
});
Структура объекта-события
События, генерируемые API Яндекс.Карт, представляют собой объекты класса Event. Исключение 
составляют события карты, описываемые классом MapEvent, расширяющим Event.

Объект, описывающий событие, содержит в себе информацию как о самом событии, так и об объекте, 
который его сгенерировал. Извлечение данных из объектов Event и MapEvent производится с помощью метода get, 
в который передается имя поля внутреннего объекта этого класса, описывающего событие.

У многих событий есть географическая точка привязки, показывающая, каким географическим 
координатам соответствовало положение курсора мыши в момент срабатывания события.

myMap.events.add('click', function (e) {
    // Получение координат щелчка
    var coords = e.get('coords');
    alert(coords.join(', '));
});
Для любого события может быть получена ссылка на объект, который его сгенерировал. Эта ссылка 
содержится в поле target.

myMap.events.add('click', function (e) {
    var eMap = e.get('target');// Получение ссылки на объект, сгенерировавший событие (карта).
    eMap.setType('yandex#hybrid');
});
Тип любого события может быть получен путем обращения к полю type.

myMap.events.add(['click', 'contextmenu'], function (e) {
    var eType = e.get('type');
    eType == 'click' ? alert('left button') : alert('right button');
});
Событие API, возникновение которого инициируется событием DOM, в поле domEvent внутреннего объекта 
содержит ссылку на объект API, описывающий DOM-событие (класс DomEvent). Этот объект содержит ссылку
 на оригинальное событие DOM в поле originalEvent.

myPlacemark.events.add('mousedown', function (e) {
    // 0, 1 или 2 в зависимости от того, какая кнопка мыши нажата (В IE значение может быть от 0 до 7).
    alert(e.get('domEvent').originalEvent.button);
});
Класс DomEvent предоставляет прокси-доступ к полям и методам оригинального DOM-события и адаптирован
 с учетом особенностей различных браузеров. Поэтому правильнее не обращаться к оригинальному DOM-событию, 
 а использовать класс DomEvent: метод get для получения свойства события и 
 метод ../../ref/reference/IDomEvent.html#method_detail__callMethod для обращения к его методу.

myPlacemark.events.add('click', function (e) {
    // Вместо alert(e.get('domEvent').originalEvent.pageX);
   alert(e.get('domEvent').get('pageX'));
});
Кроме того, DomEvent позволяет получить координаты курсора сразу в виде массива — get('position').

Архитектура API спроектирована таким образом, что большую часть информации, содержащейся в объекте,
 описывающем событие, можно узнать из свойств объекта, который сгенерировал это событие.

Распространение событий
Возникшее событие распространяется вверх по всей иерархии родительских объектов вплоть до родительской
 коллекции объекта карты (т. н. «всплытие»). До самого объекта карты события дочерних элементов не доходят.


myPlacemark.events.add('click', function () {
    alert('О, событие!');
});
myMap.geoObjects.events.add('click', function (e) {
    alert('Дошло до коллекции объектов карты');
    // Получение ссылки на дочерний объект, на котором произошло событие.
    var object = e.get('target');
});
myMap.events.add('click', function () {
    alert('Событие на карте'); // Возникнет при щелчке на карте, но не на маркере.
});
Для остановки распространения события предназначен метод stopPropagation.

myPlacemark.events.add('click', function (e) {
    alert('О, событие!');
    e.stopPropagation();
});
myMap.geoObjects.events.add('click', function () {
    alert('Граница на замке');
});
Для большинства событий определены стандартные действия, которые будут произведены после возникновения
 события. Эти действия могут быть отменены с помощью метода preventDefault.

myMap.events.add('dblclick', function (e) {
    e.preventDefault(); // При двойном щелчке зума не будет.
});
Контекст обработки события
При назначении обработчика события с помощью менеджера событий, можно указать не только 
функцию-обработчик, но и контекст, в котором она будет выполняться. Чаще всего в качестве контекста 
передается ссылка на объект, внутренние данные которого необходимы функции-обработчику.

function myCounter(start) {
    this.counter = start;
}
myCounter.prototype.go = function () {
    var myMap = new ymaps.Map("map", {
        center: [59.93, 30.31],
        zoom: 12
    });
    myMap.events.add('click', this.up, this);
}
myCounter.prototype.up = function () {
    this.counter++;
    alert(this.counter)
};
var c = new myCounter(2012);
c.go();






Пример:

// Создание кластеризатора

// Создание карты, требующей кластеризации геообъектов
var map = new ymaps.Map('mapsID', { center: [56.034, 36.992], zoom: 8 }),
// Создание массива геообъектов
myGeoObjects = [];
myGeoObjects[0] = new ymaps.GeoObject({
    geometry: { type: "Point", coordinates: [56.034, 36.992] },
    properties: {
        clusterCaption: 'Geo object №1',
        balloonContentBody: 'Balloon content for geo object №1'
    }
});
myGeoObjects[1] = new ymaps.GeoObject({
    geometry: { type: "Point", coordinates: [56.021, 36.983] },
    properties: {
        clusterCaption: 'Geo object №2',
        balloonContentBody: 'Balloon content for geo object №2'
   }
});

// Создание кластера и запрещение масштабирования карты при щелчке по кластеру
var clusterer = new ymaps.Clusterer({ clusterDisableClickZoom: true });
clusterer.add(myGeoObjects);
map.geoObjects.add(clusterer);